body {
    width: 100%;
    height: 100%;
    margin: 5px;
  }
  
  article {
      width: 190px;
      height: 250px;
      margin: 5px;
      transform: scale(1);
      cursor: pointer;
      transform-style: preserve-3d;
      transition: transform .5s;
      box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  article[data-state=flip] {
      transform: rotateY(180deg);
  }
  
  article h3,
  article img {
      margin: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 5px;
      background: #0b6100;
      backface-visibility: hidden;
  }
  
  article h3 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }
  
  article img {
      transform: rotateY(180deg);
  }

  .memory-game {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 10px; /* Espacio entre las cartas */
    justify-content: center; /* Centrar las cartas horizontalmente */
    margin: 20px auto; /* Espaciado superior/inferior */
    max-width: 800px; /* Limitar el ancho máximo */
  }
  
  .memory-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  